@import"./mixins";
@import "./variables.scss";
@import"./header";
@import"./main";
@import"./section";
@import"./footer";
@import"./imagen";


body{
   max-width: 100%;
   overflow-x: hidden;
}

.box{
 margin: 2em;
    border: .2em solid #29251c;
    padding: 3em;
    background-color: $color-especial;
}
    
 .caruselimg{
 width: 25%;
 margin: 0 auto;
 }

      @media (max-width: 2600px) {
      @include query(rgb(112, 188, 189),bigdesktop)
   }
   @include query(blue,desktop);
   @include query(orange,tablet);
   @include query(rgb(247,0,255),mobile);


   
   